.navbar {
    color: aquamarine;
    background-color:pink;
    width:100%;
    height:70px;
    border-bottom-left-radius:50% 50%;
    border-bottom-right-radius:50% 50%;
    background: rgb(173, 78, 161);
    box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.36);
    text-align: center;
    font-size: 150%;
}

.head {
    display: inline;
}

.sidebar {
    color: rgb(33, 140, 240);
    font-size: 250%;
}

.one{
    color: rgb(243, 131, 228);
    font-size: 150%;
}

.formheader {
    font-size: 200%;
}

.container-right {
    margin-top: 8%;
    margin-bottom: 2%;
    margin-right: 15%;
    padding-left: 3%;
    padding-right: 2%;
    width: 40%;
    height: 470px;
    /*border: 1px solid rgba(0, 0, 0, 0.2);*/
    box-shadow: 20px 20px 10px rgba(14, 13, 13, 0.1);
    border-radius: 10px;
    /*padding: 10px;*/
    box-sizing: border-box;
    /*top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;*/
    /*margin: auto;*/
    background: rgb(243, 241, 243);
    float: right;
}

.container-left {
    float: left;
    top: 240px;
    padding-left: 250px;
    padding-top: 115px;
}

.form-control{
    margin-bottom: 20px;
    width: 100%;
    height: 50px;
}

.btn {
    font-size: 130%;
    width: 35%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #8fe6ec;
    color: white;
    float: right;
    margin-right: 2%;
}

.field-icon {
    float: right;
    margin-left: -25px;
    margin-top: -25px;
    position: relative;
    z-index: 2;
}

.demoForm {
	width: 500px;
	margin: auto;
}

.error {
    color:red;
}