.table {
    font-size: 120%;
    margin-left: 200px;
    margin-right: 200px;
}
.cartbutton {
    margin: 10px;
    font-size: 90%;
    background-color: #00BFFF;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
}
.remove {
    color: white;
    font-size: 100%;
    background-color: rgb(247, 37, 37);
}
.place-order {
    color: white;
    font-size: 100%;
    background-color: rgb(81, 185, 81);
}
.order {
    text-align: left;
    margin-top: 3%;
    margin-right: 60%;
}
.place-header {
    border: 2px solid rgb(87, 195, 228);
    padding: 10px;
    font-size: 100%;
    border-radius: 10px;
}
.cart-header {
    margin-left: 210px;
    margin-top: 50px;
    margin-bottom: 20px;
}
.footer {
    text-align: right;
    margin-right: 15px;
    margin-left: 15px;
    display: inline;
}
.footerdiv {
    margin-left: 25%;
}
td {
    font-size: 110%;
}
tr:hover {
    background-color: rgb(240, 240, 240);
}
